<!--views/partials/details.ejs - cohort(s) details -->

<section class="details">
    <h2><%= cohort %></h2>

        <span>Population</span>
        <span>Related cohort count (of Total User Set)</span>

        <!--endorse/renounce buttons with ejs-->
</section>