<!-- views/partials/filter.ejs - For user-filtering/sorting cohotrs in results.ejs-->
 
<section class="filter">
    <h2>Sorting Options:</h2>
        <input type="text" id="search-dropdown">
    <br>

    <label>Selected Cohorts:</label>
        <ol>
            <li></li> <!--include a remove/delete button to remove cohorts from selectedCohorts-->
            <!--add selectedCohorts as list items here -->
        </ol>

 </section>