    <!--views/partials/footer.ejs-->
    
        <footer>
            <ul>
                <li><a href="/about">About</a></li>
            </ul>
                <p>&copy; 2023 Globethoughts. <i>Irony is the hope of the world.</i></p>
                <p>All rights reserved.</p>
                <br>
                <span>include email contatc prompt here</span>
        </footer>
    <script src="/js/script.js"></script>
    </body>
</html>