<h1>Globethoughts</h1>
<span>A way for communities to become functionally self-aware at the group level, merely via participating in this website at your pleasure.</span>

<p>This website is part of my decades-long research into the scientific study of consciousness, aiming to bear the fruit of economically useful technology while helping us to think more creatively to discover what matters to us and avoid those moments of debilitating vacuousness.</p>
<p>It is my goal that this ewbsite provide a tangible higher power by allowing us to connect at our liesure to a something greater than ourselves: each other, properly networked according to our own liberty and clarity.</p>

<p> Why Globethoughts? Why build a technical collective Consciousness?</p>
<p>See the about section, because the better question is 'why not?', as the reasons for doing so keep adding up as this project grows.</p>
